.container {
  display: flex;
  justify-content: center;
}

.btn, .inp , .searchInp {
  margin: 0 15px;
  padding: 6px 25px;
  outline: none;
}

.btn {
  cursor: pointer;
  background-color: #ffc902;
}
